<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    
</head>
<body>
    <form method="get">
        <select name="category">
            <option value="all">All</option>
            <option value="Fruits">Fruits</option>
            <option value="Vegetables">Vegetables</option>
        </select>
        <button type="submit">Filter</button> 
    </form>
    <table>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
